In [10]:
# Dependencies
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
import pymongo
import pprint

In [2]:
# Initializing a variable with the path for chromedriver
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
# Creating a Browser instance for Google Chrome using chromedriver
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Initializing a variable with the url of the AAA website that displays fuel prices by grade by state
fuel_price_url = "https://gasprices.aaa.com/state-gas-price-averages/"
# Visiting fuel_price_url
browser.visit(fuel_price_url)

In [4]:
# Initializing a variable with the html script of fuel_price_url
html = browser.html
# Initializing a variable with the html script parsed by BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')
# Initializing a variable with the list created from the html script for the fuel price table
table = pd.read_html(html)

In [5]:
# Intitalizing a DataFrame from the list "table"
state_fuel_df = table[0]
# Setting the column names of state_fuel_df
state_fuel_df.columns = ["state", "regular", "mid_grade", "premium", "diesel"]
# Displaying state_fuel_df
state_fuel_df.head()

        state regular mid_grade premium  diesel
0      Alaska  $3.039    $3.127  $3.270  $2.986
1     Alabama  $2.269    $2.592  $2.915  $2.777
2    Arkansas  $2.289    $2.571  $2.840  $2.709
3     Arizona  $2.785    $3.010  $3.237  $3.009
4  California  $3.592    $3.755  $3.867  $3.906

In [6]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [7]:
# Define database and collection
db = client.etl_db
collection = db.fuel_prices
db.fuel_prices.drop()

In [8]:
# Using a for-loop to iterate through the rows of state_fuel_df and insert each state's name and its fuel prices into 
# the MongoDB database fuel_prices_db collection fuel_prices as individual documents
for index, row in state_fuel_df.iterrows():

    post = {
                "state": row["state"],
                "regular": row["regular"],
                "mid_grade": row["mid_grade"],
                "premium": row["premium"],
                "diesel": row["diesel"]
            }

    collection.insert_one(post)

In [9]:
# This is how you can list the names of collections in a MongoDB database using PyMongo
db.list_collection_names()

['fuel_prices', 'state_votes']

In [14]:
# This is how you can get a single document using PyMongo
db.fuel_prices.find_one({"state": "Alaska"})

{'_id': ObjectId('5d5c262ba989f250c582fbe5'),
 'state': 'Alaska',
 'regular': '$3.039',
 'mid_grade': '$3.127',
 'premium': '$3.270',
 'diesel': '$2.986'}

In [16]:
# This is how you can return all of the keys of a single document using PyMongo
db.fuel_prices.find_one({"state": "Alaska"}).keys()

dict_keys(['_id', 'state', 'regular', 'mid_grade', 'premium', 'diesel'])

In [31]:
# This is how you can get a single document by its ObjectId using PyMongo. You hava to import this dependency first. 
from bson.objectid import ObjectId
db.fuel_prices.find_one({"_id": ObjectId('5d5c262ba989f250c582fbe5')})

{'_id': ObjectId('5d5c262ba989f250c582fbe5'),
 'state': 'Alaska',
 'regular': '$3.039',
 'mid_grade': '$3.127',
 'premium': '$3.270',
 'diesel': '$2.986'}

In [36]:
# This is how you can print or return all of the entries in a MongoDB collection using Pymongo.
for post in db.fuel_prices.find():
...   pprint.pprint(post)

{'_id': ObjectId('5d5c262ba989f250c582fbe5'),
 'diesel': '$2.986',
 'mid_grade': '$3.127',
 'premium': '$3.270',
 'regular': '$3.039',
 'state': 'Alaska'}
{'_id': ObjectId('5d5c262ca989f250c582fbe6'),
 'diesel': '$2.777',
 'mid_grade': '$2.592',
 'premium': '$2.915',
 'regular': '$2.269',
 'state': 'Alabama'}
{'_id': ObjectId('5d5c262ca989f250c582fbe7'),
 'diesel': '$2.709',
 'mid_grade': '$2.571',
 'premium': '$2.840',
 'regular': '$2.289',
 'state': 'Arkansas'}
{'_id': ObjectId('5d5c262ca989f250c582fbe8'),
 'diesel': '$3.009',
 'mid_grade': '$3.010',
 'premium': '$3.237',
 'regular': '$2.785',
 'state': 'Arizona'}
{'_id': ObjectId('5d5c262ca989f250c582fbe9'),
 'diesel': '$3.906',
 'mid_grade': '$3.755',
 'premium': '$3.867',
 'regular': '$3.592',
 'state': 'California'}
{'_id': ObjectId('5d5c262ca989f250c582fbea'),
 'diesel': '$2.747',
 'mid_grade': '$2.820',
 'premium': '$3.099',
 'regular': '$2.550',
 'state': 'Colorado'}
{'_id': ObjectId('5d5c262ca989f250c582fbeb'),
 'diesel': '$3.188',
 'mid_grade': '$3.114',
 'premium': '$3.324',
 'regular': '$2.797',
 'state': 'Connecticut'}
{'_id': ObjectId('5d5c262ca989f250c582fbec'),
 'diesel': '$3.104',
 'mid_grade': '$3.284',
 'premium': '$3.425',
 'regular': '$2.773',
 'state': 'District of Columbia'}
{'_id': ObjectId('5d5c262ca989f250c582fbed'),
 'diesel': '$2.810',
 'mid_grade': '$2.770',
 'premium': '$3.000',
 'regular': '$2.408',
 'state': 'Delaware'}
{'_id': ObjectId('5d5c262ca989f250c582fbee'),
 'diesel': '$2.815',
 'mid_grade': '$2.762',
 'premium': '$3.043',
 'regular': '$2.410',
 'state': 'Florida'}
{'_id': ObjectId('5d5c262ca989f250c582fbef'),
 'diesel': '$2.909',
 'mid_grade': '$2.782',
 'premium': '$3.078',
 'regular': '$2.455',
 'state': 'Georgia'}
{'_id': ObjectId('5d5c262ca989f250c582fbf0'),
 'diesel': '$4.247',
 'mid_grade': '$3.820',
 'premium': '$3.989',
 'regular': '$3.652',
 'state': 'Hawaii'}
{'_id': ObjectId('5d5c262ca989f250c582fbf1'),
 'diesel': '$2.799',
 'mid_grade': '$2.623',
 'premium': '$2.998',
 'regular': '$2.459',
 'state': 'Iowa'}
{'_id': ObjectId('5d5c262ca989f250c582fbf2'),
 'diesel': '$2.930',
 'mid_grade': '$2.991',
 'premium': '$3.177',
 'regular': '$2.836',
 'state': 'Idaho'}
{'_id': ObjectId('5d5c262ca989f250c582fbf3'),
 'diesel': '$2.973',
 'mid_grade': '$3.162',
 'premium': '$3.544',
 'regular': '$2.758',
 'state': 'Illinois'}
{'_id': ObjectId('5d5c262ca989f250c582fbf4'),
 'diesel': '$2.947',
 'mid_grade': '$2.886',
 'premium': '$3.200',
 'regular': '$2.548',
 'state': 'Indiana'}
{'_id': ObjectId('5d5c262ca989f250c582fbf5'),
 'diesel': '$2.714',
 'mid_grade': '$2.604',
 'premium': '$2.843',
 'regular': '$2.366',
 'state': 'Kansas'}
{'_id': ObjectId('5d5c262ca989f250c582fbf6'),
 'diesel': '$2.788',
 'mid_grade': '$2.728',
 'premium': '$3.033',
 'regular': '$2.399',
 'state': 'Kentucky'}
{'_id': ObjectId('5d5c262ca989f250c582fbf7'),
 'diesel': '$2.695',
 'mid_grade': '$2.525',
 'premium': '$2.808',
 'regular': '$2.231',
 'state': 'Louisiana'}
{'_id': ObjectId('5d5c262ca989f250c582fbf8'),
 'diesel': '$3.010',
 'mid_grade': '$2.951',
 'premium': '$3.140',
 'regular': '$2.676',
 'state': 'Massachusetts'}
{'_id': ObjectId('5d5c262ca989f250c582fbf9'),
 'diesel': '$2.899',
 'mid_grade': '$2.926',
 'premium': '$3.159',
 'regular': '$2.535',
 'state': 'Maryland'}
{'_id': ObjectId('5d5c262ca989f250c582fbfa'),
 'diesel': '$2.986',
 'mid_grade': '$2.912',
 'premium': '$3.150',
 'regular': '$2.610',
 'state': 'Maine'}
{'_id': ObjectId('5d5c262ca989f250c582fbfb'),
 'diesel': '$2.935',
 'mid_grade': '$3.006',
 'premium': '$3.343',
 'regular': '$2.665',
 'state': 'Michigan'}
{'_id': ObjectId('5d5c262ca989f250c582fbfc'),
 'diesel': '$2.889',
 'mid_grade': '$2.765',
 'premium': '$3.057',
 'regular': '$2.529',
 'state': 'Minnesota'}
{'_id': ObjectId('5d5c262ca989f250c582fbfd'),
 'diesel': '$2.672',
 'mid_grade': '$2.614',
 'premium': '$2.862',
 'regular': '$2.337',
 'state': 'Missouri'}
{'_id': ObjectId('5d5c262ca989f250c582fbfe'),
 'diesel': '$2.679',
 'mid_grade': '$2.531',
 'premium': '$2.852',
 'regular': '$2.240',
 'state': 'Mississippi'}
{'_id': ObjectId('5d5c262ca989f250c582fbff'),
 'diesel': '$2.894',
 'mid_grade': '$2.977',
 'premium': '$3.234',
 'regular': '$2.756',
 'state': 'Montana'}
{'_id': ObjectId('5d5c262ca989f250c582fc00'),
 'diesel': '$2.862',
 'mid_grade': '$2.752',
 'premium': '$3.062',
 'regular': '$2.425',
 'state': 'North Carolina'}
{'_id': ObjectId('5d5c262ca989f250c582fc01'),
 'diesel': '$2.819',
 'mid_grade': '$2.816',
 'premium': '$3.056',
 'regular': '$2.602',
 'state': 'North Dakota'}
{'_id': ObjectId('5d5c262ca989f250c582fc02'),
 'diesel': '$2.773',
 'mid_grade': '$2.602',
 'premium': '$2.959',
 'regular': '$2.498',
 'state': 'Nebraska'}
{'_id': ObjectId('5d5c262ca989f250c582fc03'),
 'diesel': '$2.919',
 'mid_grade': '$2.878',
 'premium': '$3.111',
 'regular': '$2.556',
 'state': 'New Hampshire'}
{'_id': ObjectId('5d5c262ca989f250c582fc04'),
 'diesel': '$2.994',
 'mid_grade': '$3.041',
 'premium': '$3.236',
 'regular': '$2.682',
 'state': 'New Jersey'}
{'_id': ObjectId('5d5c262ca989f250c582fc05'),
 'diesel': '$2.857',
 'mid_grade': '$2.770',
 'premium': '$3.013',
 'regular': '$2.502',
 'state': 'New Mexico'}
{'_id': ObjectId('5d5c262ca989f250c582fc06'),
 'diesel': '$3.196',
 'mid_grade': '$3.358',
 'premium': '$3.532',
 'regular': '$3.160',
 'state': 'Nevada'}
{'_id': ObjectId('5d5c262ca989f250c582fc07'),
 'diesel': '$3.180',
 'mid_grade': '$3.104',
 'premium': '$3.332',
 'regular': '$2.813',
 'state': 'New York'}
{'_id': ObjectId('5d5c262ca989f250c582fc08'),
 'diesel': '$2.899',
 'mid_grade': '$2.900',
 'premium': '$3.227',
 'regular': '$2.565',
 'state': 'Ohio'}
{'_id': ObjectId('5d5c262ca989f250c582fc09'),
 'diesel': '$2.594',
 'mid_grade': '$2.534',
 'premium': '$2.740',
 'regular': '$2.309',
 'state': 'Oklahoma'}
{'_id': ObjectId('5d5c262ca989f250c582fc0a'),
 'diesel': '$3.137',
 'mid_grade': '$3.270',
 'premium': '$3.446',
 'regular': '$3.074',
 'state': 'Oregon'}
{'_id': ObjectId('5d5c262ca989f250c582fc0b'),
 'diesel': '$3.355',
 'mid_grade': '$3.091',
 'premium': '$3.354',
 'regular': '$2.781',
 'state': 'Pennsylvania'}
{'_id': ObjectId('5d5c262ca989f250c582fc0c'),
 'diesel': '$3.009',
 'mid_grade': '$2.952',
 'premium': '$3.161',
 'regular': '$2.624',
 'state': 'Rhode Island'}
{'_id': ObjectId('5d5c262ca989f250c582fc0d'),
 'diesel': '$2.735',
 'mid_grade': '$2.572',
 'premium': '$2.873',
 'regular': '$2.259',
 'state': 'South Carolina'}
{'_id': ObjectId('5d5c262ca989f250c582fc0e'),
 'diesel': '$2.846',
 'mid_grade': '$2.752',
 'premium': '$3.122',
 'regular': '$2.657',
 'state': 'South Dakota'}
{'_id': ObjectId('5d5c262ca989f250c582fc0f'),
 'diesel': '$2.809',
 'mid_grade': '$2.651',
 'premium': '$2.951',
 'regular': '$2.323',
 'state': 'Tennessee'}
{'_id': ObjectId('5d5c262ca989f250c582fc10'),
 'diesel': '$2.682',
 'mid_grade': '$2.660',
 'premium': '$2.929',
 'regular': '$2.342',
 'state': 'Texas'}
{'_id': ObjectId('5d5c262ca989f250c582fc11'),
 'diesel': '$2.969',
 'mid_grade': '$3.030',
 'premium': '$3.195',
 'regular': '$2.886',
 'state': 'Utah'}
{'_id': ObjectId('5d5c262ca989f250c582fc12'),
 'diesel': '$2.820',
 'mid_grade': '$2.746',
 'premium': '$3.028',
 'regular': '$2.369',
 'state': 'Virginia'}
{'_id': ObjectId('5d5c262ca989f250c582fc13'),
 'diesel': '$3.008',
 'mid_grade': '$2.970',
 'premium': '$3.219',
 'regular': '$2.717',
 'state': 'Vermont'}
{'_id': ObjectId('5d5c262ca989f250c582fc14'),
 'diesel': '$3.256',
 'mid_grade': '$3.437',
 'premium': '$3.594',
 'regular': '$3.231',
 'state': 'Washington'}
{'_id': ObjectId('5d5c262ca989f250c582fc15'),
 'diesel': '$2.829',
 'mid_grade': '$2.929',
 'premium': '$3.307',
 'regular': '$2.581',
 'state': 'Wisconsin'}
{'_id': ObjectId('5d5c262ca989f250c582fc16'),
 'diesel': '$2.981',
 'mid_grade': '$2.842',
 'premium': '$3.115',
 'regular': '$2.594',
 'state': 'West Virginia'}
{'_id': ObjectId('5d5c262ca989f250c582fc17'),
 'diesel': '$2.987',
 'mid_grade': '$2.898',
 'premium': '$3.147',
 'regular': '$2.719',
 'state': 'Wyoming'}

In [38]:
# This is how you can print or return all of the entries that match a certain criteria in a MongoDB collection 
# using Pymongo.
for post in db.fuel_prices.find({"regular": "$3.039"}):
...   pprint.pprint(post)

{'_id': ObjectId('5d5c262ba989f250c582fbe5'),
 'diesel': '$2.986',
 'mid_grade': '$3.127',
 'premium': '$3.270',
 'regular': '$3.039',
 'state': 'Alaska'}

In [39]:
# This is how you can count the number of documents in a MongoDB collection using PyMongo.
db.fuel_prices.count_documents({})

51

In [40]:
# This is how you can count the number of documents that match a certain criteria in a MongoDB collection 
# using PyMongo.
db.fuel_prices.count_documents({"regular": "$3.039"})

1

In [56]:
# This is a way that aggregations functions can be performed using PyMongo and bson.son
from bson.son import SON
pipeline = [
    {"$unwind": "$mid_grade"},
    {"$group": {"_id": "$mid_grade", "count": {"$sum": 1}}},
    {"$sort": SON([("count", -1), ("_id", -1)])}
]

pprint.pprint(list(db.fuel_prices.aggregate(pipeline)))

[{'_id': '$2.770', 'count': 2},
 {'_id': '$2.752', 'count': 2},
 {'_id': '$3.820', 'count': 1},
 {'_id': '$3.755', 'count': 1},
 {'_id': '$3.437', 'count': 1},
 {'_id': '$3.358', 'count': 1},
 {'_id': '$3.284', 'count': 1},
 {'_id': '$3.270', 'count': 1},
 {'_id': '$3.162', 'count': 1},
 {'_id': '$3.127', 'count': 1},
 {'_id': '$3.114', 'count': 1},
 {'_id': '$3.104', 'count': 1},
 {'_id': '$3.091', 'count': 1},
 {'_id': '$3.041', 'count': 1},
 {'_id': '$3.030', 'count': 1},
 {'_id': '$3.010', 'count': 1},
 {'_id': '$3.006', 'count': 1},
 {'_id': '$2.991', 'count': 1},
 {'_id': '$2.977', 'count': 1},
 {'_id': '$2.970', 'count': 1},
 {'_id': '$2.952', 'count': 1},
 {'_id': '$2.951', 'count': 1},
 {'_id': '$2.929', 'count': 1},
 {'_id': '$2.926', 'count': 1},
 {'_id': '$2.912', 'count': 1},
 {'_id': '$2.900', 'count': 1},
 {'_id': '$2.898', 'count': 1},
 {'_id': '$2.886', 'count': 1},
 {'_id': '$2.878', 'count': 1},
 {'_id': '$2.842', 'count': 1},
 {'_id': '$2.820', 'count': 1},
 {'_id': '$2.816', 'count': 1},
 {'_id': '$2.782', 'count': 1},
 {'_id': '$2.765', 'count': 1},
 {'_id': '$2.762', 'count': 1},
 {'_id': '$2.746', 'count': 1},
 {'_id': '$2.728', 'count': 1},
 {'_id': '$2.660', 'count': 1},
 {'_id': '$2.651', 'count': 1},
 {'_id': '$2.623', 'count': 1},
 {'_id': '$2.614', 'count': 1},
 {'_id': '$2.604', 'count': 1},
 {'_id': '$2.602', 'count': 1},
 {'_id': '$2.592', 'count': 1},
 {'_id': '$2.572', 'count': 1},
 {'_id': '$2.571', 'count': 1},
 {'_id': '$2.534', 'count': 1},
 {'_id': '$2.531', 'count': 1},
 {'_id': '$2.525', 'count': 1}]

In [57]:
# This is how you can run an explain plan for this aggregation
db.command('aggregate', 'fuel_prices', pipeline=pipeline, explain=True)

{'stages': [{'$cursor': {'query': {},
    'fields': {'mid_grade': 1, '_id': 0},
    'queryPlanner': {'plannerVersion': 1,
     'namespace': 'etl_db.fuel_prices',
     'indexFilterSet': False,
     'parsedQuery': {},
     'winningPlan': {'stage': 'COLLSCAN', 'direction': 'forward'},
     'rejectedPlans': []}}},
  {'$unwind': {'path': '$mid_grade'}},
  {'$group': {'_id': '$mid_grade', 'count': {'$sum': {'$const': 1}}}},
  {'$sort': {'sortKey': {'count': -1, '_id': -1}}}],
 'ok': 1.0}

In [ ]:
db.fuel_prices.aggregate(
   [
     {
       $group:
         {
           _id: "$item",
           avgAmount: { $avg: { $multiply: [ "$price", "$quantity" ] } },
           avgQuantity: { $avg: "$quantity" }
         }
     }
   ]
)